.contact-text {
    z-index: 5;
    color: #fff ;
    text-align: center;
    text-transform: uppercase;
    background-repeat:no-repeat ;
    background: #000;
    border-radius: 0.625rem;
    justify-content: center;
    align-items: center;
    padding: 1rem 16px;
    font-family: Leaguespartan, sans-serif;
    font-size: 50px;
    font-weight: 700;
    text-decoration: none;
    display: flex;
    position: relative;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    width: 100%;
}
.contact-container {
    display: block;
}
.contact-links {
    text-decoration: none;
    color: #000;
    font-size: 32px;
    transition-duration: .3s;
}
.contact-links:hover {
    color: blue;
}
.contact-box {
    display: flex;
    align-items: center;
    flex-direction: row;
    align-items: center;
    color: #000;
    font-size: 32px;
    width: 350px;
    padding: 20px;
    text-align: center;
    margin: 31px;
}
.container-contact-box {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: center;
}
.contact-links {
    display: flex;
    align-items: center;
    font-size: 22px;
}
.contact-icons i {
    width: 100%;
    margin-left: 17px;
}
.contact-texts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
    width: 100%;
    height: 265px;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;    
}
.contact-text-icon {
    margin-right: 10px;
}
.phones-box {
    justify-content: start;
}
.emails-box {
    justify-content: end;
}
@media (max-width: 767px) { 
    .contact-box {
        width: 100% !important;
        margin-left: 5px;
    }
    .contact-links {
        font-size: 22px;
    }
    .s-media-inbox {
        flex-flow: column wrap;
    }
    .contact-links {
        text-align: center !important;
    }
    .contact-texts {
        width: 100%;
    }
}
@media (min-width: 767px) and (max-width: 992px) { 
    .contact-box {
        width: 100% !important;
        justify-content: center;
    }
    .contact-links {
        font-size: 30px;
    }
}

@media (min-width: 993px) and (max-width: 1140px) { 
}
